html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="/js/jquery-2.2.0.min.js")
    script(src="/js/underscore-1.8.3-min.js")
    link(rel='stylesheet', href="/css/bootstrap.min.css")
    link(rel='stylesheet' href="/css/bootstrap-cosmo.min.css")
    script(src="/js/bootstrap.min.js")
    title!= title
    link(rel='stylesheet', href='/css/index.css')
  body
    div.content-area
      block content
        nav.navbar.navbar-default
          .container-fluid
            .navbar-header
              a.navbar-brand(href="#") Orb Lamp
              button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            #navbar.navbar-collapse.collapse
              ul.navbar-nav.nav.navbar-right
                li
                  a(href="/shutdown" onclick="return confirm('Shutdown lamp fo realz? You will have to unplug and replug to power it back on...');") Shutdown Lamp
                li
                  a(href="/restart" onclick="return confirm('Restart raspberry pi?');") Restart Lamp
        div.container
          .row
            div.message.alert(role="alert" style="display:none;")

          .row
            .col-lg-6.col-lg-offset-3
              form(id='patterns' action="start" method="get")
                .form-group
                  label(for="pattern") Pattern
                  select.form-control(id="pattern" name="pattern")
                    option(selected=(data.pattern == null)) Select a pattern
                    each pattern in patterns
                      - var selected = (data.pattern == pattern);
                      option(value=pattern, selected=selected)
                        =pattern

          form(id='settings' method="post" action="update")
            .row
              .col-lg-6.col-lg-offset-3
                .form-group
                  label(for="colorinput") Base Color
                  input.color.form-control(id="colorinput" name="color_hex", type="color",value=data.color_hex)
            .row
              .col-lg-6.col-lg-offset-3
                .form-group
                  label(for="period") Animation Period
                  input.period.form-control(id="period" type="range",name="period",min=100,max=12000,step=100,value=data.period)
          .row
            .col-lg-6.col-lg-offset-3
              form(id='pause' method="get" action="pause")
                button.form-control.btn.btn-primary(type="submit") Pause
            .col-lg-6.col-lg-offset-3
              form(id='unpause' method="get" action="unpause")
                button.form-control.btn.btn-primary(type="submit") Unpause
            .col-lg-6.col-lg-offset-3
              form(id='stop' method="get" action="stop")
                button.form-control.btn.btn-danger(type="submit") Stop
          .row
            .col-lg-6.col-lg-offset-3
              p.text-muted Built with Node.JS, Fadecandy, and duct tape.

    footer
      block footer
  script.
    var data = !{JSON.stringify(data)};
  script(src="/js/index.js")
