html
  head
    script(src="/js/jquery-2.2.0.min.js")
    script(src="/js/underscore-1.8.3-min.js")
    link(rel='stylesheet', href="/css/bootstrap.min.css")
    link(rel='stylesheet' href="/css/bootstrap-theme.min.css")
    link(rel='stylesheet' href="/css/bootstrap-slider.min.css")
    script(src="/js/bootstrap.min.js")
    script(src="/js/bootstrap-slider.min.js")
    title!= title
    link(rel='stylesheet', href='/css/index.css')
  body
    div.content-area
      block content
        div.message.alert(role="alert" style="display:none;")

        form.form-inline(id='settings' method="post" action="update")
          each ch in ['red','green','blue']
            .input-group.well
              input.dataslider(type="text",name=ch,data-slider-min="0",data-slider-max="255",data-slider-step=1, data-slider-value=data[ch], data-slider-orientation="vertical")

          .input-group.well
            input.dataslider(type="text",name="period",data-slider-min="100",data-slider-max="12000",data-slider-step=100, data-slider-value=data.period, data-slider-orientation="vertical")
        form(id='stop' method="get" action="stop")
          .input-group
            button(type="submit" class="btn btn-default") Stop
        form(id='pause' method="get" action="pause")
          .input-group
            button(type="submit" class="btn btn-default") Pause
        form(id='unpause' method="get" action="unpause")
          .input-group
            button(type="submit" class="btn btn-default") Unpause
        form(id='patterns' class="form-horizontal" action="start" method="get")
          select(name="pattern")
            option(selected=(data.pattern == null)) Select a pattern
            each pattern in patterns
              - var selected = (data.pattern == pattern);
              option(value=pattern, selected=selected)
                =pattern

    footer
      block footer
  script.
    var data = !{JSON.stringify(data)};
  script(src="/js/index.js")
